<div class="col" style="margin-top: 4em;">
  <div class="row">
    <div class="col md-auto flow-bg-active">
      <p class="text-center flow-text-active">❶ 選擇影片</p>
    </div>
    <div class="col md-auto flow-bg">
      <p class="text-center flow-text"><span class="step-two">❷</span> 分析中</p>
    </div>
    <div class="col md-auto flow-bg">
      <p class="text-center flow-text">❸ 分析完成</p>
    </div>
  </div>
  <div id="view-result" class="col" style="margin-top: 1em;">
    <p class="mb-3 text-center" style="font-weight: 500;">點擊下方按鈕觀看</p>
    <div class="row justify-content-md-center">
      <div class="col col-3 flow-play">
        <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">
          <p class="text-center flow-text" style="color: white;">➤ 觀看結果</p>
        </a>
      </div>
    </div>
  </div>

</div>