{% extends 'base.html' %}

{% block content %}
<div class="py-0">
  <div class="container">
    <div class="half-post-entry d-block d-lg-flex bg-light">
      <div class="contents col-8">
        <span class="caption">ACTION RECOGNITION</span>
        <h2 style="color:rgb(20, 20, 20)">行為偵測</h2>
        <p class="mb-3">分析幼童在校動作</p>
      </div>
    </div>
    {% include '_step.html' %}
  </div>
</div>
{% include '_site-section.html' %}
{% endblock %}
