{% extends 'base.html' %}

{% block content %}
<div class="py-0">
  <div id="gosh" class="container" style="position: relative; padding: 0;">
    <img src="{{ url_for('static', filename='images/white.jpg') }}" class="img-fluid" width="100%" style="opacity: 0;">
    <img id="stream" src="{{ url_for('webui.stream') }}" class="img-fluid" width="100%">
    <div class="in-video half-post-entry d-block d-lg-flex bg-light">
      <div class="contents text-center border-right">
        <span class="caption">Facial Expression</span>
        <h2>表情辨識</h2>
        <p class="mb-3">觀察幼童在校表情</p>
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <a class="btn py-3 px-5 btn-jelly" href="{{ url_for('webui.facial') }}"
              style="color: white; margin-top: 1em;">前往表情辨識</a>
          </div>
        </div>
      </div>
      <div class="contents text-center">
        <span class="caption">Action Recognition</span>
        <h2 style>行為偵測</h2>
        <p class="mb-3">分析幼童在校動作</p>
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <a class="btn py-3 px-5 btn-jelly" href="{{ url_for('webui.action') }}"
              style="color: white; margin-top: 1em;">前往行為偵測</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section" style="padding:2em 0;">
</div>
{% include '_modal.html' %}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    // flag = false
    $('.in-video').hide()
    $('#gosh').mouseenter(function() {
      
      $('.in-video').fadeTo(400, 0.8)
    })
    $('#gosh').mouseleave(function() {
    
      $('.in-video').fadeTo(400, 0)
    })
  })
</script>
{% endblock %}