{% extends 'base.html' %}

{% block content %}
<div class="py-0">
  <div class="container">
    <div class="half-post-entry d-block d-lg-flex bg-light">
      <div class="contents col-8">
        <span class="caption">Group Member</span>
        <h2 style="color:rgb(20, 20, 20)">小組成員</h2>

      </div>

    </div>
    <div class="col" style="margin-top: 2em;">
      <div class="trend-entry d-flex">
        <div class="number align-self-start" style="color: #FF7C83;font-weight: 400;">01</div>
        <div class="trend-contents col">
          <div class="col">
            <h2 style="color: rgb(30, 30, 30)">劉 凱翔</h2>
            <div class="post-meta">
              <span class="date-read">B10517030<span class="mx-1">
            </div>
          </div>

          <hr style="margin: 10px 0;">
          <div class="col">
            <span class="d-block">行為分析 &bullet; 資料集整理</span>
          </div>
        </div>
      </div>
      <div class="trend-entry d-flex">
        <div class="number align-self-start" style="color: #FF516B;font-weight: 400;">02</div>
        <div class="trend-contents col">
          <div class="col">
            <h2 style="color: rgb(30, 30, 30) ;">姜 典昀</h2>
            <div class="post-meta">
              <span class="date-read">B10517029<span class="mx-1">
            </div>
          </div>

          <hr style="margin: 10px 0;">
          <div class="col">
            <span class="d-block">臉部表情 &bullet; 資料集整理</span>
          </div>
        </div>
      </div>
      <div class="trend-entry d-flex">
        <div class="number align-self-start" style="color: #FF7C83;font-weight: 400;">03</div>
        <div class="trend-contents col">
          <div class="col">
            <h2 style="color: rgb(30, 30, 30) ;">徐 唯毓</h2>
            <div class="post-meta">
              <span class="date-read">B10517045<span class="mx-1">
            </div>
          </div>

          <hr style="margin: 10px 0;">
          <div class="col">
            <span class="d-block">臉部表情 &bullet; 後端處理</span>
          </div>
        </div>
      </div>
      <div class="trend-entry d-flex">
        <div class="number align-self-start" style="color: #FF516B;font-weight: 400;">04</div>
        <div class="trend-contents col">
          <div class="col">
            <h2 style="color: rgb(30, 30, 30) ;">季 成寯</h2>
            <div class="post-meta">
              <span class="date-read">B10523042<span class="mx-1">
            </div>
          </div>

          <hr style="margin: 10px 0;">
          <div class="col">
            <span class="d-block">行為分析 &bullet; 前端設計</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
{% endblock %}